@inherits ComponentBase

<article class="@GetStyleClass()">
    @if (Ad is not null)
    {
        <p class="text-lg">
            <strong>@Ad.StrongText</strong>
            @Ad.AdText
        </p>
        <p class="text-right text-xs">
        @Ad.AdId
    </p>
    }
    else
    {
        <p>Nincs ilyen hirdetés</p>
    }
</article>

@code {

    [Parameter]
    public AdData? Ad { get; set; }

    public string GetStyleClass()
    {
        if (Ad is null)
        {
            return AdData.styles[AdType.Error];
        }

        if (AdData.styles.ContainsKey(Ad.AdStyle))
        {
            return AdData.styles[Ad.AdStyle];
        }
        return AdData.styles[AdType.Plain];
    }
}
