@inherits ComponentBase
@using static AdContent

@if (Ads is not null)
{
    <div class="flex flex-col w-full h-full gap-4 p-4 bg-white rounded-md shadow-2xl items-top">
        @foreach (var Ad in Ads)
        {
            <AdContent Ad=@Ad />
        }
    </div>
}
else
{
    <p>Nincs hirdetés</p>
}

@code {
    [Parameter]
    public AdData[]? Ads { get; set; }
}
