@inject ClipboardService ClipboardService
@inject IFileHandler FileHandler
@rendermode InteractiveServer

@inherits ComponentBase

<button
    class="w-full p-4 text-2xl font-black text-white rounded-md bg-slate-400 hover:bg-slate-300 hover:text-slate-600"
    @onclick="CopyToClipboard">
    @if (error)
    {
        <p>
            Hiba történt
        </p>
    }
    else if (pasted)
    {
        <p>
            Hirdetések átmásolva
        </p>
    }
    else
    {
        <p>
            Másolás a vágólapra
        </p>
    }

</button>

@code {
    [Parameter]
    public List<AdData>? ads { get; set; }

    private bool pasted = false;

    private bool error = false;

    async Task CopyToClipboard()
    {
        if (ads is null)
        {
            error = true;
            await WaitAndResetState();
            return;
        }
        try
        {
            await ClipboardService.WriteTextAsync(FileHandler.CreateText(ads));
            pasted = true;
        }
        catch
        {
            error = true;
        }
        await WaitAndResetState();
    }

    async Task WaitAndResetState()
    {
        StateHasChanged();
        await Task.Delay(3000);
        pasted = false;
        error = false;
        StateHasChanged();
    }
}
