@inject ClipboardService ClipboardService
@inject IFileHandler FileHandler

@inherits ComponentBase

<button
    class="w-full p-4 font-black text-white uppercase rounded-md bg-slate-400 hover:bg-slate-300 hover:text-slate-600"
    @onclick="CopyToClipboard">Hirdetések
    másolása vágólapra</button>

@code {
    [Parameter]
    public List<AdData>? ads { get; set; }

    async Task CopyToClipboard()
    {
        if (ads is null) return;
        try
        {
            await ClipboardService.WriteTextAsync(FileHandler.CreateText(ads));
            Console.WriteLine("success");
        }
        catch
        {
            Console.WriteLine("Cannot write text to clipboard");
        }
    }
}
